.mainContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  padding: 90px 90px 90px;
  max-width: 60px;
  width: 850px;
  display: contents;
  justify-content: space-around;
}

// .h1 {
//   background-color: rgb(255, 255, 255);
//   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
//     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   text-decoration: none;
//   font-size: 18px;
//   color: rgb(100, 95, 57);
//   width: 200px;
//   margin: 0 auto;
// }

.h2 {
  background-color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(141, 130, 28);
  display: inline-flex;
  font-size: 14px;
}

.mainHolder {
  background-color: rgb(255, 255, 255);

  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 170px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
}

.image {
  width: 20%;
  height: 20%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 300px;
  padding-right: 100px;
  display: inline-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .singleProductContaoner {
//   display: block;
//   justify-content: center;
//   align-items: center;
//   background-color: rgb(119, 106, 11);
//   padding: 50px 50px 60px;
//   max-width: 60px;
//   margin: 0 auto;
//   text-decoration: none;
// }
